.jumbotron-fluid {
    background-image: url(https://media1.thehungryjpeg.com/thumbs2/ori_3602209_zjpfd1w7c3wn55xsxgdakki5nx5paz9eo6ow65tl_24-multicultural-national-avatars-people-cartoon-flat.png);
    background-size: contain;
    background-color:floralwhite;
    margin-bottom: 60px;
}

.rounded {
    opacity:0.9;
}
